## Exploring missing values and recoding fuzzy values in dataset Q1

In [1]:
import yaml

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
try:
    with open('../config.yaml') as file:
        config = yaml.safe_load(file)
except:
    print("Yaml file not found.")

In [3]:
# Load dataset q1

q1_df = pd.read_csv(config['input_data']['q1_dataset'])
q1_df.head()

,username,country,country_code,question_no,uid,year,answer,value_na,value
0,ALB22uFF4m,Albania,ALB,1,q1c1_apjufc,2000,Mixed system [0.5],0.5,0.5
1,ALB22uFF4m,Albania,ALB,1,q1c1_apjufc,2001,Mixed system [0.5],0.5,0.5
2,ALB22uFF4m,Albania,ALB,1,q1c1_apjufc,2002,Mixed system [0.5],0.5,0.5
3,ALB22uFF4m,Albania,ALB,1,q1c1_apjufc,2003,Mixed system [0.5],0.5,0.5
4,ALB22uFF4m,Albania,ALB,1,q1c1_apjufc,2004,Mixed system [0.5],0.5,0.5

In [10]:
# Check for missing values (in percentage) 

(q1_df.isna().mean().sort_values(ascending=False)*100).head()

value_na        7.992592
value           7.992592
answer          3.534965
country_code    0.791557
country         0.791557
dtype: float64

#### Clean dataset

In [6]:
import sys
sys.path.append('../py_files')
from functions import cleaning_judicial_autonomy_data

In [7]:
clean_q1_df = cleaning_judicial_autonomy_data(q1_df)
#clean_q1_df

In [ ]:
# Decide to drop all questions with more than 20% values missing

columns_nan_percentage = q1_cleaned.isna().mean()*100
columns_nan_20_percent = columns_nan_percentage[columns_nan_percentage > 20].index
columns_nan_20_percent